.jest
.yarn
node_modules

src/common/**/es
src/common/**/lib
src/common/**/node_modules
src/common/**/package.json
src/common/constants/data-locations/src/pops.ts

src/dash/**/es
src/dash/**/lib
src/dash/**/node_modules
src/dash/**/package.json

src/apps/dash/dips
src/apps/dash/dist
src/apps/dash/htdocs
src/apps/dash/node_modules
src/apps/dash/styles
src/apps/dash/test-reports
src/apps/dash/package.json
src/apps/dash/tmp
src/apps/dash/translations

src/apps/styleguide/docs
src/apps/styleguide/deps.js

package.json
dips

src/apps/page-proxyanything
src/apps/styleguide/dist
*.md
*.mdx
*.json

src/apps/dash/msw/mockServiceWorker.js
src/apps/dash/react/pages/home/configurations/preferences/Dpa/html
src/apps/dash/react/pages/traffic/waiting-rooms/templates/default.html

.bitbucket/CODEOWNERS